body {
	transition: background-color 2s cubic-bezier(1, 1, 1, 1);
	transition-delay: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input {
    /* custom */
    caret-color: white;
  }